{% extends 'layout.html' %}

{% block body %}
<div class="container text-left"  id="container">

    {% from "include/_formhelpers.html" import render_field %}
    <div class="form-group">
        <h1>Collections</h1>
        <form action="" method="POST">
          {{render_field(form.collection, class_="form-control")}}
          <br>
          <button id="btn-create" type="submit" name='btn' value='create' class="btn btn-warning">Create collection</button>
        </form>
    </div>
    <br>
    <ul class="list-group">
    {% for collection in collections %}
    <li class="list-group-item">
        <form action="" method="POST">
            <div class="row">
                <div class="col-xs-4">
                        <p>{{collection['S']}}</p>
                </div>
                <div class="col-xs-4">
                    <a href="http://localhost:5000/photos/{{collection['S']}}">
                        <button id="btn-update" type="button" class="btn btn-primary">Update collection</button>
                    </a>
                </div>
                <div class="col-xs-4">
                    <button id="btn-delete" type="submit" name='btn' value={{collection['S']}} class="btn btn-danger">Delete collection</button>
                </div>
            </div>
        </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
