{% extends 'layout.html' %}

{% block body %}
    <div class="container text-left"  id="container2">
        <label>List of template files</label>
        <p>You can upload new templates</p>
        <input type="file" id="files" /> <br />
        <button id="btn-upload" type="button" class="btn btn-primary">Upload</button>
        <button id="btn-view" type="submit" class="btn btn-secondary">View</button>
        <div id="app"></div>
    </div>
  <script>
    awsCred(function(response){
        // Here you have access to your variable
    })

    var collection = '{{collection}}'
    var i = 0;
    var accessKeyId;
    var secretAccessKey;
    var sessionToken;
    var s3 = new AWS.S3({
        apiVersion: '2006-03-01',
        params: {Bucket: 'transcribe-template-files'}
    });

    document.getElementById("btn-upload").addEventListener("click", function(){
        console.log('uploading...');
        addPhoto();
    });

    document.getElementById("btn-view").addEventListener("click", function(){
        console.log('viewing...');
        viewAlbum();
    });

    function getHtml(template, photoKey) {
      return template.join('\n');
    }

    function viewAlbum() {
      var albumName = '{{ session.username}}'
      albumName = albumName.replace('@', '-')
      var albumPhotosKey = albumName + '/';  //encodeURIComponent(albumName) + '/';
      s3.listObjects({Prefix: albumPhotosKey}, function(err, data) {
        if (err) {
          return alert('There was an error viewing your album: ' + err.message);
        }
        // `this` references the AWS.Response instance that represents the response
        var href = this.request.httpRequest.endpoint.href;
        var bucketUrl = href + 'transcribe-template-files' + '/';

        i = 0;
        var photos = data.Contents.map(function(photo) {
          i = i+1;
          var photoKey = photo.Key;
          var photoUrl = bucketUrl + photoKey //encodeURIComponent(photoKey);
          return getHtml([
            '<ul class="list-group">',
                '<li class="list-group-item">',
                    '<div class="row">',
                        '<div class="col-xs-4 text-center">',
                            '<span>',
                                photoKey.replace(albumPhotosKey, ''),
                             '</span>',
                        '</div>',
                        '<div class="col-xs-4 text-center">',
                            '<button id="' + i + '" type="button" class="btn btn-danger" value="' + photoKey + '"onclick="deletePhoto(' + i + ')">Delete</button>',
                        '</div>',
                    '</div>',
                '</li>',
            '</ul>',
          ]);
        });
        var htmlTemplate = [
          '<h2>',
            'Template list',
          '</h2>',
          '<div>',
            getHtml(photos),
          '</div>',
        ]
        document.getElementById('app').innerHTML = getHtml(htmlTemplate);
      });
    }

    function addPhoto() {
        var files = document.getElementById('files').files;
        if (!files.length) {
            console.log('no file selected');
        }
        var file = files[0];
        var fileName = file.name;
        var user = '{{ session.username}}'
        user = user.replace('@', '-')

        var keyName = user + '/' + fileName;

      s3.upload({
        Key: keyName,
        Body: file,
        ACL: 'public-read'
      }, function(err, data) {
        if (err) {
          return alert('There was an error uploading image: ', err.message);
        }
        console.log('Successfully uploaded photo.');
        viewAlbum();
      });
    }

    function deletePhoto(i) {
      photoKey = document.getElementById(i).value
      s3.deleteObject({Key: photoKey}, function(err, data) {
        if (err) {
          return alert('There was an error deleting your photo: ', err.message);
        }
        viewAlbum();
      });
    }

  </script>
{% endblock %}
