<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcribe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.173.0.min.js"></script>
    <script src="{{ url_for('static', filename='tracking-min.js') }}"></script>
    <script src="{{ url_for('static', filename='face-min.js') }}"></script>
    <script src="{{ url_for('static', filename='stats.min.js') }}"></script>
    <script src="{{ url_for('static', filename='awsCred.js') }}"></script>
</head>

<body>

 {% include 'include/_navbar.html' %}
 <div class="container">
 {% include 'include/_messages.html' %}
 {% block body %}

 {% endblock %}
 </div>
 <script>
    window.onload = function() {
        document.getElementById('stats').style.display = 'none';
    };
 </script>
</body>
</html>